{{ define "style" }}
<link rel="stylesheet" href="/public/css/distro.page.css" />
{{ end }}

{{ define "content" }}
  <div class="distro-body">
    <div class="distro-header">
      <img src="{{ .Logo }}" width="128" height="128"/>
      <div class="title">
        <h2>{{ .Name }}</h2>
        <p>{{ .Description }}</p>
      </div>
			<div class="links-wrapper">
				<a class="btn" href="{{ .Links.Website.URL }}" target="_blank">Web Page</a>
				<details id="dd-menu">
					<summary class="dd-btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-up-down"><path d="m7 15 5 5 5-5"/><path d="m7 9 5-5 5 5"/></svg>
					</summary>
					<ul>
						<li>
							<a target="_blank" href="{{ .Links.IssueTracker.URL }}">{{ .Links.IssueTracker.Label }}</a>
						</li>
						<li>
							<a target="_blank" href="{{ .Links.Forum.URL }}">{{ .Links.Forum.Label }}</a>
						</li>
						<li>
							<a target="_blank" href="{{ .Links.Documentation.URL }}">{{ .Links.Documentation.Label }}</a>
						</li>
					</ul>
				</details>
				<a href="{{ .Links.Donate.URL }}" class="btn btn--donate">{{ .Links.Donate.Label }}</a>
			</div>
    </div>
    <section class="distro-content">
      <h1>Hi mom!</h1>
    </section>
  </div>
{{ end }}
